body {
    background-color: #000000;
    color: #00FF00;
    font-family: "Courier New", monospace;
}

h1 {
    text-align: center;
    font-size: 48px;
}

p {
    font-size: 18px;
    text-indent: 50px;
}

.textbox {
    background-color: #1C1C1C;
    border: solid 2px #00FF00;
    padding: 10px;
    margin: 20px;
    width: 50%;
}
